/* Defining these in CSS instead of tailwind config to limit potential for upstream conflicts */
/* TODO: MOVE THIS STYLING OVER TO THE TAILWIND CONFIG NOW */
/* Base circle styling */

.circle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 10px;
  height: 10px;
}

/* Static green dot */
.circle::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #75daad;
  border-radius: 50px;
  z-index: 2;
}

/* Pulsing outer ring */
.animated-circle::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background-color: #75daad;
  opacity: 0.6;
  z-index: 1;
  animation: pulse-ring 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}

@keyframes pulse-ring {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}

@keyframes rainbow-flow {
  to {
    background-position: 200% center;
  }
}

body {
  background-color: transparent;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

/* Animation classes */
.animate-slide-down {
  animation: slideDown 500ms cubic-bezier(0.25, 0.1, 0.25, 1.5) forwards;
}

.animate-slide-up {
  animation: slideUp 500ms cubic-bezier(0.25, 0.1, 0.25, 1.5) forwards;
}

/* For Tailwind classes */
.translate-y-\[-100\%\] {
  transform: translateY(-100%);
}
